#
#
# ALL ENVIRONMENT VARIABLES ARE REQUIRED
# IF USING GITHUB REPOSITORY SECRETS, AN .ENV FILE ISN'T NEEDED
#
#

# IMDb cookie (name: at-main | domain: .imdb.com)
IMDB_COOKIE_AT_MAIN=Atza|IwEBIN86XOlkJyyXCImFXmhYjqOXk--Pp01YlCvoJZQDv8WjZMpCIH7rtQQ_PA_BQ9ZJPIkNoGTctxRhL1Axc9YQta7XFd0EAagK69BgOkmH-LJfBzOOU361iTLVc92GEd_vu_abPVCKEklLS_CeSOQ61vCsp2-c-riUzYIU2-C8Db7RGQDnvwfgrEkoOjQVgAXDI-Ix3ZoBAFeIfzu9bCksZgobd_QdnVnZ59-hchGn0vNwM1fB-XufNkfrduxGKg6cs7M
# IMDb cookie (name: ubid-main | domain: .imdb.com)
IMDB_COOKIE_UBID_MAIN=131-0512771-2929293
# IMDb lists to sync to Trakt, comma separated (open your selected IMDb list - list id will be in the URL)
# example: ls517879007,ls084017844,ls093412639
# if value equals to `all` it will auto sync all your lists
IMDB_LIST_IDS=all
# Trakt access token for your API app (info in the README file)
TRAKT_ACCESS_TOKEN=b89d620b5ef4dcc72a20300fb5e5c0b207b6d42ff9095dd574311b46aca41024
# Trakt client id of your API app (https://trakt.tv/oauth/applications/new)
TRAKT_CLIENT_ID=9b36d8c0db59eff5038aea7a417d73e69aea75b41aac771816d2ef1b3109cc2f
